<!-- Container (Contact Section) -->

<div class="container fluid" id=contact>
  <h1 class="text-center">Contact</h1>
  <p class="text-center"><strong>Please send us a message and we get back to you as soon as possible</strong></p>
<%= flash[:notice] %>

<%= form_with(url:"/simple_pages/thank_you", method: "post", local: true) do |form| %>
<br>
  <div class="row">
<div class="col-md-6 text-center">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", placeholder: "Enter Name" %>
  </div>
  </div>
  <div class="row">
<div class="col-md-6 text-center">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control", placeholder: "Enter Email" %>
  </div>
  <br>
  <div class="col-md-12 text-center">
<%= form.label :message %>
<%= form.text_area :message, class: "form-control", placeholder: "Enter Message", rows: 5 %>
  </div>
  <br>
  <div class="col-md-12 text-center">
  <%= form.submit "Send", class: "form_label" %>
</div>
<% end %>
</div>
</div>
