
<!--<%= image_tag("bike3.jpg", class: "img-responsive") %>-->
<div class="jumbotron text-center">
  <h1>Welcome to Bike Berlin</h1>
  <p>Your source for used bikes in Berlin</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>  Bike1<%= image_tag("bike3.jpg", class: "img-fluid") %></h3>
      <p>Lorem ipsum dolor..</p>
      <p>Ut enim ad..</p>
    </div>
    <div class="col-sm-4">
      <h3>Bike2<%= image_tag("bike3.jpg", class: "img-fluid") %></h3>
      <p>Lorem ipsum dolor..</p>
      <p>Ut enim ad..</p>
    </div>
    <div class="col-sm-4">
      <h3>Bike3<%= image_tag("bike3.jpg", class: "img-fluid") %></h3>
      <p>Lorem ipsum dolor..</p>
      <p>Ut enim ad..</p>
    </div>
  </div>
</div>
<div class="carousel-inner">

  <div class="carousel-item active">
     <% @products.each do |product| %>
  <div class="carousel-item<%= " active" if product == @products.first %>">
       <%= image_tag(product.image_url) %>
      <img class="d-block w-100" src="app/assets/images/bike1.jpg" alt="The Bike for everyday">
      <div class="carousel-caption d-none d-md-block">
        <%= product.name %>
        <h5>First Bike</h5>
        <p>Pretty cool bike</p>
      </div>
    </div>
  </div>
  <div class="carousel-item">
    <div class="carousel-item">
      <%= image_tag(product.image_url) %>
      <img class="d-block w-100" src="app/assets/images/bike2.jpg" alt="The week-end bike">
      <div class="carousel-caption d-none d-md-block">
        <%= product.name %>
        <h5>Second Bike</h5>
        <p>Really cool bike</p>
      </div>
    </div>
  </div>
  <div class="carousel-item">
    <div class="carousel-item">
      <%= image_tag(product.image_url) %>
      <img class="d-block w-100" src="app/assets/images/bike4.jpg" alt="The Mountain Bike">
      <div class="carousel-caption d-none d-md-block">
        <%= product.name %>
        <h5>Third Bike</h5>
        <p>Best bike ever</p>
      </div>
    </div>
  </div>
 <% end %>
</div>
