
<!--<%= image_tag("bike3.jpg", class: "img-responsive") %>-->
<div class="jumbotron text-center">
  <h1>Welcome to Bike Berlin</h1>
  <p>Your source for used bikes in Berlin</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>  Bike1<%= image_tag("bike3.jpg", class: "img-fluid") %></h3>
      <p>Lorem ipsum dolor..</p>
      <p>Ut enim ad..</p>
    </div>
    <div class="col-sm-4">
      <h3>Bike2<%= image_tag("bike3.jpg", class: "img-fluid") %></h3>
      <p>Lorem ipsum dolor..</p>
      <p>Ut enim ad..</p>
    </div>
    <div class="col-sm-4">
      <h3>Bike3<%= image_tag("bike3.jpg", class: "img-fluid") %></h3>
      <p>Lorem ipsum dolor..</p>
      <p>Ut enim ad..</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
      <div class="col-lg-3 col-md-6 col-xs-6">
      <%= image_tag("bike1.jpg", class: "img-fluid") %>
      <a href="#"><h1>Bike 1</h1></a>
      <p>Pretty cool bike</p>
      <strong>$ 42</strong>
    </div><!-- /col -->
    <div class="col-lg-3 col-md-6 col-xs-6">
      <%= image_tag("bike2.jpg", class: "img-fluid") %>
      <a href="#"><h1>Bike 2</h1></a>
      <p>Really cool bike</p>
      <strong>$ 84</strong>
    </div><!-- /col -->
    <div class="col-lg-3 col-md-6 col-xs-6">
      <%= image_tag("bike3.jpg", class: "img-fluid") %>
        <a href="#"><h1>Bike 3</h1></a>
      <p>Best bike ever</p>
      <strong>$ 999</strong>
    </div><!-- /col -->
    <div class="col-lg-3 col-md-6 col-xs-6">
      <%= image_tag("bike4.jpg", class: "img-fluid") %>
      <a href="#"><h1>Bike 4</h1></a>
      <p>This bike is ok</p>
      <strong>$ 1</strong>
    </div><!-- /col -->
  </div>
</div>
