
<div>
  <strong>Name:</strong>
  <%= @product.name %>
</div>

<div>
  <strong>Description:</strong>
  <%= @product.description %>
</div>
<div>

  <strong>Rating:</strong>
  <%= @product.highest_rating_comment.rating unless @product.highest_rating_comment.nil? %>
  <i class="fas fa-star"></i>
  <i class="far fa-star"></i>
  <i class="far fa-star"></i>
</div>
</div>
<div class="product-image img-responsive">
  <%= image_tag(@product.image_url, class: "image-fluid img-thumbnail img-zoom", width: "350", data_zoom_image: @product.image_url) unless @product.image_url.nil? %>
</div>
<div>
  <strong>Price:</strong>
  <%= @product.price %>
</div>

<div>
  <strong>Colour:</strong>
  <%= @product.colour %>
</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<%= render 'new_comment' %>
<%= render 'comments' %>
