<p id="notice"><%= notice %></p>

<div>
  <strong>Name:</strong>
  <%= @product.name %>
</div>
<div class="product-image img-responsive">
<%= image_tag(@product.image_url, class: "image-fluid img-thumbnail ", width: "350", data_zoom_image: @product.image_url) %>
          </div>
<div>
  <strong>Description:</strong>
  <%= @product.description %>
</div>
<div>

<strong>Rating:</strong>
<%= @product.highest_rating_comment.rating unless @product.highest_rating_comment.nil? %>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      </div>
</div>
<div>
  <strong>Price:</strong>
  <%= @product.price %>
</div>

<div>
  <strong>Colour:</strong>
  <%= @product.colour %>
</div>
<strong>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </strong>

<%= render 'new_comment' %>
<%= render 'comments' %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
